
<%- include("header") -%>
<h1 style="color:black">Author of this page is Abhijeet Haldar</h1>
<p>"At a table, in a public library, on a winter Saturday, and yet I felt as if I'd arrived home. That house in North Bennington, another winter ten years earlier, and I as young as a girl could be and yet as old as any other Mother Earth, and I had learned what it was to love. How to be loved and how to provide love, and how to be of service as a gesture to the gods. Had I known how fast it would all go, how little it would amount to, would I have lived each day more consciously? Ah, me. I don't have the faintest idea.”</p>
<%- include("footer") -%>
